@import "mocha.css";

* {
  font-family: "Fira Sans Semibold";
  font-size: 14px;
  font-weight: 900;
  border: none;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar {
  background-color: @transparentbase;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 2px 3px;
  margin: 2px 3px;
  font-weight: 500;
  font-size: 11px;
  color: @text;
  background-color: @surface0;
  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    color 0.15s ease;
}

#workspaces button.active {
  color: @crust;
  background-color: @flamingo;
  border-color: @mauve;
}

#workspaces button:hover {
  background-color: @surface1;
  border-color: @overlay0;
}

#workspaces button.urgent {
  background-color: @red;
  color: @crust;
  border-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 6px;
}

#custom-spotify {
  margin-left: 25px;
  padding: 0px 12px;
}

#tray {
  padding: 6px;
  margin: 0px 5px;
}

#custom-power {
  padding: 6px;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-weather.default {
  color: #dbd9d8;
}

#clock {
  color: @text;
}

label:focus {
  background-color: @transparentbase;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
